body {

    margin: 0;
    background: #F8AF75;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* cabecera de busqueda del portafolio */

.cabeceraMobile {
    display: none;
}

.cabeceraPrincipal {
    display: flex;
    min-height: 4.2rem;
    background: #F9A470;
    justify-content: space-evenly;
    align-items: center;
}

aside {
    display: flex;
    align-items: center;
}

aside img {
    height: 50px;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
}

/* presentacion del portafolio */


.principal article {
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 6rem 0 6rem;
    min-height: 53vh;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: #FFFFFF;

}


h1 span {

    background: var(--celeste-claro);
    color: var(--azul-marino-oscuro);
    width: 31.5rem;
    font-size: 3.2rem;
    background: #9FD4CA;
    color: #354355;

}

.boton {
    border: 0;
    background-image: linear-gradient(150deg,
            #ff7300,
            #f5870a,
            #F8AF75);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;

    &:active {
        transition: .1s;
        transform: scale(0.9);
    }
}

.boton a {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    text-decoration: none;
    color: inherit;

    &:hover {
        background: none;
    }
}


.contenedorComputadora {
    align-self: flex-end;
    width: 41.8vw;
    max-width: 520px;
}

.contenedorComputadora img {
    position: relative;
    top: 8px;
    max-width: 100%;
    height: auto;
    animation: caer;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.02, -0.07, 1, 1.4)
}

/* articulo de sobre mi */

.contenedor {
    display: flex;
    justify-content: flex-end;
}

main {
    width: 57rem;
    min-height: 45vh;
    background-color: #FFFFFF;
    box-shadow: -200px 0 0 0px #9FD4CA, -230px 0 0 0px #F48E4F;
    border-radius: 20px 0 0 20px;
    min-height: 33rem;
}

main h2:first-child {
    border-bottom: 1px solid #9FD4CA;
    width: 34%;
    font-size: 42px;
    color: #F8AF75;
    padding-bottom: 3px;
}

main h3 {
    border-bottom: 1px solid #F48E4F;
    width: 60%;
    font-size: 25px;
    color: #9FD4CA;
    padding-bottom: 4px;
}

main h4 {
    margin: 1rem 0;
    font-size: 42px;
}

/* articulo de mis conocimientos y habilidades */

.segundoContenedor {

    background: #343233;
    padding: 4rem 8rem;
    margin: 8rem 0;
}

.habilidades>h2:first-child {

    color: #EFEAE1;
    background: url(/img/fondoHabilidades.png);
    background-repeat: no-repeat;
    font-size: 32px;
    margin-bottom: 2rem;

}

.habilidades article div {
    display: flex;
    height: 52px;
}

.habilidades article img:first-child {
    margin-right: 1rem;
    width: 30px;
    height: 28px;
    padding: 5px;
    background: #4F4B4B;
    border-radius: 8px;
}

.habilidades article h3 {
    font-size: 28px;
    align-self: center;
    color: #9FD4CA;

}

.habilidades ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px 56px;
    color: #FFDEAD;
    font-size: 22px;
}

.habilidades ul li {
    margin: .4rem 0;
}

.habilidades .boton {
    background-image: linear-gradient(150deg,
            #395dff,
            #9FD4CA,
            #343233);
    font-size: 15px;
    padding: 3px;
    margin: 13px 54px;
}

/* articulo de proyectos */

.proyectos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.proyectos .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1020px;
    min-width: 515px;
}

.grid div {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;

}

.grid div img {

    height: auto;
    width: 100%;
    border-radius: 20px;
    transition-duration: 1s;
    cursor: pointer;
    animation-name: revelar;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;


    &:hover {
        scale: 1.2;
    }
}

.grid div:first-child {
    grid-column: 1 / 3;
}

.grid div:last-child {
    grid-column: -1 / -3;
}

/* contactame */

.contactame {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.contactame img:first-child {
    position: absolute;
    height: 120%;
    animation-name: fondoContacto;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: -1;
}

form {
    background: #9FD4CA;
    box-shadow: -40px 0 #F9A470, -60px 0 #F5F5EB;
    border-radius: 20px;
    width: 40%;
}

fieldset {
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

input {
    border: none;
    background: none;
    border-bottom: 1px solid black;
}


/* pie de pagina */

footer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #22303A;
    color: #9FD4CA;
    padding: 18px;
}

footer article:first-child ul {
    list-style: none;
    padding: 0;

}

footer article:first-child ul li a {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

footer article:first-child ul li img {
    height: 25px;
    background: #9FD4CA;
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}

footer article:first-child ul li a {
    text-decoration: none;
    color: #9FD4CA;
}

footer article:last-child {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

footer article:last-child p {
    margin: 0;
    opacity: .7;
}

footer article:last-child p:last-child {
    opacity: .4;
}

footer aside a {
    display: flex;
    background: #354355;
    height: 60px;
    width: 216px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #9FD4CA;
    box-shadow: 5px 5px 10px black;
    transition-duration: 300ms;
    color: #F5F5EB;
    text-decoration: none;


    &&:hover {
        transform: translateX(5px) translateY(5px);
        box-shadow: none;
        letter-spacing: 2px;
    }
}




/* animaciones keyfame */


@keyframes fondoContacto {
    0% {}

    10% {
        transform: translateX(-50px);
    }

    25% {
        transform: translateY(50px);
    }

    50% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateX(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes revelar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes caer {
    0% {
        transform: translateY(-140px);
    }

    25% {
        transform: translateY(0px);
    }

    45% {
        transform: translateY(-50px);
    }

    62% {
        transform: translateY(0px);
    }

    78% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* media quiery para mobiles */

@media screen and (max-width: 780px) {

    .contenedorComputadora {
        width: 0;
    }

    .cabeceraPrincipal {
        display: none;
    }

    .cabeceraMobile {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .cabeceraMobile nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        background: #ff7300;
        text-decoration: none;
        color: #fff;
        clip-path: circle(0% at top left);
        transition: clip-path .4s;
    }

    .cabeceraMobile nav:target {
        clip-path: circle(150% at top left);
    }

    .segundoContenedor {

        padding: 20px;
    }
}